body, html {
  margin: 0px;
  padding: 0px;
  font-family: 'Rubrik', sans-serif;
}

body {
  background-color: #ecc19c;
  color: #333;
}

html.fullscreen div.layout {
  width: 100vw;
  height: 100vh;
}

header {
  background-color: #1c8c7a;
  background-color: #333;
  background-color: #99745c;
  background-color: #805c46;
  background-color: #1e847f;
  cursor: default;
  color: #ffffff;
  line-height: 2em;
  height: 2em;
  padding: 0 16px;
  font-weight: 600;
  color: #f2d43d;
  color: white;
}

header .gold-star {
  color: #f2d43d;
}

header span {
  font-style: italic;
}

a {
  color: white;
  color: #f2d43d;
}

div.solution.part1 {
  background-color: #0090d9;
  margin: 16px;
  padding: 16px;
  color: white;
}

div.solution.part2 {
  background-color: #00b30c;
  margin: 16px;
  padding: 16px;
  color: white;
}

div.solution h4 {
  color: white;
}

div.solution h4:first-child {
  margin-top: 4px;
}

div.solution pre {
  background-color: #333;
  color: white;
  padding: 8px;
  border-radius: 4px;
  margin: 8px 8px;
}
