.puzzle-index ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.puzzle-index li {
  background-color: #ce8859;
  background-color: #333;
  border-radius: 4px;
  margin: 4px;
  padding: 4px 8px;
  width: 360px;
  y: 3;
}

.puzzle-index li a {
  text-decoration: none;
  font-weight: bold;
}

.puzzle-index li h4 {
  margin: 0px 0px 8px 0px;
  padding: 0px;
  line-height: 2em;
  border-bottom: solid 1px #ce8859;
}

.puzzle-index li img {
  width: 360px;
  height: 240px;
  object-fit: cover;
}
